img {
  width: 100%;
}

h1, h2 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
}

.item h2 {
  display: inline;
}

.log {
  width: 80%;
  white-space: pre-wrap;
  word-break: break-all;
  margin: auto;
  background-color: whitesmoke;
}

.hidden {
  display: none;
}
